body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
#home{
    text-align: center;
    padding: 20px;
    background-color: #385466;
}

header{
    color: #ffffff;
    padding: 10px;
}

.navbar{
    float: right;
    padding-right: 1cm;
    overflow: auto;
}

.topmenu{
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10mm;
    font-size: 20px;
}

.topmenu:hover{
    background-color: darkgray;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}


