body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: black;
}
#topSection{
    padding: 20px;
    background-image: url("background.jpg");
    color: black;
    font-weight: bold;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}

header{
    float: left;
    padding: 10px;
    font-size: 30px;
}

.navBar{
    float: right;
    padding-right: 1cm;
}

.topmenu{
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 1mm;
    font-size: 20px;
}

.topmenu:hover{
    background-color: darkgray;
    color: black;
    font-weight: bolder;
    text-decoration: underline;
}

#Allsections{
    background-color: #f4f4f4;
    display: grid;
    justify-content: center;
    max-width: 1600px;
    gap: 400px;
}

section{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    grid-template-columns: 1fr 1fr;
}

button{
    font-size: 20px;
    border: transparent;
    border-radius: 40px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
}

button:hover{
    cursor: pointer;
}

#testValues{
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.gallery{
    display: flex;
    aspect-ratio: auto;
    gap: 20px;
    justify-content: center;
    max-width: 100%;
}

#testform{
    border: 2px solid black;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

legend{
    font-weight: bold;
    font-size: 20px;
}

.scrollappear{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.visible{
    opacity: 1;
    transform: translateY(0);
}


